.App {
  text-align: center;
  margin: 10px 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-background {
  background-image: url("./images/amazon-christmas.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
}

.right-panel {
  height: 450px;
}

.app-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.experiment-date {
  margin-left: 15px !important;
  background-color: #fff;
}

.nav-metric {
  height: 85px;
}

.banner-metric {
  height: 130px;
  background-color: rgb(22 149 16 / 57%);
  cursor: pointer;
}

.deals-metric {
  height: 130px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
